[Unit]
Description=Motion detection daemon
After=local-fs.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/motionplus -n -c /etc/motionplus/motionplus.conf
StandardError=null
ExecReload=/bin/kill -HUP $MAINPID

User=motion
Group=motion

UMask=007
WorkingDirectory=-/var/lib/motionplus


[Install]
WantedBy=multi-user.target
