[Unit]
Description=Walbrix User Interface
Requires=display-manager.service
After=display-manager.service

[Service]
Type=simple
User=root
WorkingDirectory=%h
ExecStartPre=/usr/bin/wb misc wayland-ping --wait
ExecStart=/usr/bin/wbui login
Restart=always
RestartSec=1
Environment=XDG_RUNTIME_DIR=/run/user/0
Environment=WAYLAND_DISPLAY=wayland-1
Environment=GTK_A11Y=none

[Install]
WantedBy=graphical.target