[Unit]
Description=Scan Volumes
Requires=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/wb volume scan

[Install]
WantedBy=multi-user.target