[Unit]
Description=Virtual Machine for %i
Requires=scan-volumes.service
After=scan-volumes.service network-online.target
ConditionDirectoryNotEmpty=/var/vm/%i

[Service]
Type=notify
Environment="DEFAULT_NET=br0"
EnvironmentFile=-/etc/default/vm
ExecStart=/usr/bin/vm service --default-net=$DEFAULT_NET /var/vm/%i
KillMode=mixed
TimeoutStopSec=180

[Install]
WantedBy=multi-user.target