[Unit]
Description=Cleanup system.img based system
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/lib/systemimg/shutdown
RemainAfterExit=true

[Install]
WantedBy=shutdown.target
